body {
  background-color: #1bbC9b;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
}

a, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

#sidebar {
  background-color: #34495e;
  border-left: 3em solid #2d3e50;
  bottom: 0;
  box-sizing: border-box;
  color: white;
  left: 0;
  position: fixed;
  text-align: left;
  top: 0;
  width: 300px;
}

#sidebar h1 {
  color: #ef5350;
  font-size: 1.3em;
  margin: 1em 0.7em;
}

#sidebar ul {
  margin: 0;
}

#sidebar li {
  border-bottom: 1px solid #2d3e50;
  position: relative;
}

#sidebar li a {
  display: block;
  padding: 1em;
}

#sidebar li.selected, #sidebar li:hover {
  background-color: #2d3e50;
  color: #1bbC9b;
}

#sidebar li.selected:after {
  background-color: transparent;
  border-bottom: 3px solid #1bbC9b;
  border-right: 3px solid #1bbC9b;
  content: "";
  height: 11px;
  left: -1.7em;
  position: absolute;
  top: 1.1em;
  transform: rotate(45deg);
  width: 5px;

  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#content {
  margin-left: 300px;
}

section {
  margin: 0 2em;
  text-align: left;
}

.alert {
  background-color: white;
  border-bottom: 2px solid #2d3e50;
  margin: 1em 0;
  transition: all 0.3s ease-out;
  animation: new-item-animation .3s linear forwards;
}

.alert:not(:nth-child(-n+3)) {
  animation: none;
  margin: 1em 0 1em 5em;
  opacity: 0.6;
}

.alert.high span.source {
  border-bottom: 4px solid #ef5350;
}

.alert.low span.source {
  border-bottom: 4px solid #1bbC9b;
}

.alert.medium span.source {
  border-bottom: 4px solid #ffca28;
}

.alert p {
  margin: 0;
  padding: 1em;
}

.alert span {
  display: block;
}

.alert span.date {
  color: #b0bec5;
  padding: 1em 1em 0;
}

.alert span.source {
  font-weight: 700;
  padding: 1em;
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }
  to {
    opacity: 1;
    transform : translateY(0);
  }
}
